@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=VT323&display=swap');

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}
body {
  background: #333;
  text-align: center;
  padding: 20px;
  color: #fff;
}
.card {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 30px auto;
  text-align: center;
}

/* solution */
section {
  perspective: 900px;
}
.card {
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  border-radius: 8px;
  border: 2px solid #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.back {
  color: #dbca6c;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.card.flipped {
  transform: rotateY(180deg);
}
