@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=VT323&display=swap');

* {
  font-family: "Poppins";
}
body {
  background: #ddd;
  text-align: center;
}

form, .output {
  width: 480px;
  margin: 20px auto;
  padding: 20px;
}
textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  color: #777;
}

