@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=VT323&display=swap');

:root {
  --primary: #00b29d;
}

body {
  background: #f2f2f2;
  font-family: "Poppins";
}
.tabs {
  width: 600px;
  margin: 100px auto;
}

/* buttons */
.buttons {
  display: flex;
}
.buttons a {
  color: #333;
  text-decoration: none;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-right: 0;
  border-bottom: 0;
  flex-grow: 1;
}
.buttons a:last-child {
  border-right: 1px solid #ddd;
}
.buttons a:active {
  background: var(--primary);
  border-color: var(--primary);
  color: #fff;
}

/* panels */
.panels .panel {
  background: #fff;
  border: 1px solid #ddd;
  padding: 2px 10px;
  display: none;
}
.panels .panel:target {
  display: block;
}